@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: matura;
    src: url("../static//fonts/MATURASC_1.TTF");
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-matura {
    font-family: matura;
}

.bg-image {
    background-image: url("../static/images/BG.jpg");
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000 !important;
}

.bg-input {
    background-color: #1e2a4db0;
}

input[type=checkbox] {
    appearance: none;
    border: 2px solid #0284c7;
    padding: 10px;
    transition: 300ms;
    position: relative;
    border-radius: 5px;
}

input[type=checkbox]:checked::before {
    content: "";
    background-color: #6b91f8;
    position: absolute;
    border-radius: 2px;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
}

#phone-input {
    background-color: inherit;
    outline: none;
    background-color: inherit;
    direction: ltr;
    /* background-color: rgba(0, 0, 0, 0.493); */
}


/* home playlist slider */
.home-slider{
    margin: .5rem 0;
    width: 100%;
    overflow-x: scroll;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 6rem;
    gap: .5rem;
}

@media only screen and (min-width :768px){
    .home-slider {
        overflow: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* end home playlist slider */

/* home genres moods */
.home-genres-slider {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-auto-flow: column;
    grid-auto-columns: 5.5rem ;
    gap: .5rem;
    overflow-x: scroll;
}

@media only screen and (min-width :768px){
    .home-genres-slider {
        overflow: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* end home genres moods */


/* top artists in home page */
.top-artists-slider{
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    margin: .5rem auto;
    grid-auto-columns: 6rem;
    overflow-x: scroll;
    gap: 1rem;
}

.top-artists-slider .top-artists-slide img{
    width: 6rem;
    height: 6rem;
    margin: auto;
}


@media only screen and (min-width :768px){
    .top-artists-slider {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .top-artists-slider .top-artists-slide img{
        width: 8rem;
        height: 8rem;
    }
}

/* end top artists */