@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: matura;
    src: url("../fonts/MATURASC_1.TTF");
}

*{
    font-family: sans-serif;
}

.font-matura {
    font-family: matura;
}

.bg-image { 
    background-image: url("../images/BG.jpg");
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100 !important;
}